@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: 'League Spartan', sans-serif;
    }
  }

  .button{
    background-color: hsl(180, 52%, 96%);
    color: hsl(180, 29%, 50%);
    padding: 5px 7px;
    border-radius: 8px;
  }

  .button:hover{
    background-color: hsl(180, 29%, 50%);
    color: white;
  }